imageCredentials:
  registry: ghcr.io
  username: ${githubUsername}
  password: ${githubPassword}

acme:
  email: ${acmeEmail}

azure:
  clientId: ${clientId}

aksplorer:
  clusterDomain: ${clusterDomain}
